@model DotNet.Highcharts.Highcharts
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
    <script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>


</head>
<body>

    @*<button id="btn">Click Me</button>
        <div> @(Model)
        </div>*@

    @(Model)
    @using (Html.BeginForm())
    {
        <div>
            You have submitted:<br />
            Firstname: @ViewData["firstname"]<br />
            Lastname: @ViewData["lastname"]<br />
            Email: @ViewData["email"]<br />
        </div>
        <br />

        <label for="xAxis">xAxis:</label>
    <input type="text" name="xAxis" value="Country" />
        <br />
        <label for="yAxis">yAxis:</label>
    <input type="text" name="yAxis" value="OrderDate" />
        <br />
        <label for="series">series:</label>
    <input type="text" name="series" value="ShipCity" />
        <br />
        <br />

        <input type="submit" name="submit" />
    }

</body>
</html>

